html, body {
    margin: 0;
    height: 100%;
}
#main-container {
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* display: none; */
    /* opacity: 0.3; */
}
button {
    background: transparent;
    border: 2px solid white;
    padding: 16px;
    border-radius: 4px;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
}